<!doctype html>
<html class="psg-theme" lang="en">
    <head>
        <meta charset="UTF-8">
        <title><%= projectName %></title>
        <style><%- codeStyle %><%- tmplStyle %><%- processedCSS %></style>
    </head>

    <body>
      <div class="psg-wrapper">
        <nav class="psg-menu">
          <a href="" class="psg-logo">
            <?xml version="1.0" encoding="utf-8"?>
            <!-- Generator: Adobe Illustrator 19.2.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
            <svg version="1.1" id="レイヤー_2のコピー_6"
            	 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 598.6 151.2"
            	 enable-background="new 0 0 598.6 151.2" xml:space="preserve">
            <polygon fill="#F5A915" points="37.8,94.5 0,113.4 37.8,132.3 75.6,113.4 "/>
            <polygon fill="#F29419" points="113.4,132.3 151.2,113.4 113.4,94.5 75.6,113.4 "/>
            <polygon fill="#F8BB0D" points="37.8,132.3 75.6,151.2 113.4,132.3 75.6,113.4 "/>
            <polygon fill="#EC6867" points="37.8,56.7 0,75.6 37.8,94.5 75.6,75.6 "/>
            <polygon fill="#EB6157" points="113.4,94.5 151.3,75.6 113.4,56.7 75.6,75.6 "/>
            <polygon fill="#E84144" points="37.8,94.5 75.6,113.4 113.4,94.5 75.6,75.6 "/>
            <polygon fill="#7BC8BC" points="37.8,18.9 0,37.8 37.8,56.7 75.6,37.8 "/>
            <polygon fill="#5EC0BB" points="113.4,18.9 75.6,37.8 113.4,56.7 151.3,37.8 "/>
            <polygon fill="#6A718E" points="37.8,56.7 75.6,75.6 113.4,56.7 75.6,37.8 "/>
            <polygon fill="#0FB4AE" points="113.4,18.9 75.6,0 37.8,18.9 75.6,37.8 "/>
            <path fill="none" stroke="#FFFFFF" stroke-miterlimit="10" d="M0,37.8"/>
            <g>
            	<polygon points="219.9,112.7 211.7,112.7 211.7,46 185.9,46 185.9,38.2 245.7,38.2 245.7,46 219.9,46 	"/>
            </g>
            <g>
            	<path d="M274.2,113.5c-8,0-15.2-3.3-21.5-9.8l-1.5-1.6l5.7-6l1.6,1.7c4.8,5,9.8,7.5,15.4,7.5c7.5,0,15.4-4.6,15.4-13.2
            		c0-8.6-8.1-11.8-17.2-14.5l-0.7-0.2c-4.1-1.2-16.5-4.9-17.2-18.5c-0.3-5.8,1.6-11.4,5.2-15.3c3.6-3.8,8.6-5.8,14.6-5.8
            		c6.2,0,11.7,2.1,16.8,6.5l1.6,1.4l-5.1,6.7l-1.8-1.7c-1.5-1.4-5.7-4.8-11.6-4.8c-8.4,0-11.3,6.4-11.3,11.8c0,5.6,2.9,8.8,10.3,11.4
            		c0.9,0.3,1.9,0.6,2.9,0.9c8.7,2.8,21.8,7,21.8,21.8C297.6,104.4,287.8,113.5,274.2,113.5z"/>
            </g>
            <g>
            	<path d="M340.7,113.5c-15.3,0-25.1-10.1-25.1-25.6V38.2h8.2v49.3c0,11.2,6.5,18.1,16.9,18.1c10.5,0,17-7,17-18.1V38.2h8.2v49.6
            		C365.9,103.4,356,113.5,340.7,113.5z"/>
            </g>
            <g>
            	<rect x="489.9" y="38.2" width="8.2" height="74.5"/>
            </g>
            <g>
            	<rect x="590.4" y="38.2" width="8.2" height="74.5"/>
            </g>
            <polygon points="519.8,38.2 519.8,112.7 528,112.7 528,89.4 540.5,76.2 566.2,112.7 575.9,112.7 546,70.3 576.2,38.2 565.4,38.2
            	528,77.9 528,38.2 "/>
            <polygon points="460.6,38.2 427.6,81 394.6,38.2 388.7,38.2 388.7,112.7 396.9,112.7 396.9,54.5 427.6,94.5 458.2,54.5 458.2,112.7
            	466.4,112.7 466.4,38.2 "/>
            </svg>
          </a>

          <ul class="psg-ComponentList">
            <% if (Array.isArray(colorPalette) && colorPalette.length !== 0) { %>
              <a href="#color-palette" class="psg-ComponentList__item">
                <li>Color Palette</li>
              </a>
            <% } %>
            <% maps.forEach(function (map) { %>
              <% if (map.link.title !== null) { %>
                <a href="#<%= map.link.id %>" class="psg-ComponentList__item">
                  <li>
                    <%= map.link.title %>
                  </li>
                </a>
              <% } %>
            <% }) %>
          </ul>

        </nav>

        <div class="psg-main">
          <header class="psg-title">
            <h1><%= projectName %></h1>
          </header>

          <div class="psg-container">
            <% if (Array.isArray(colorPalette) && colorPalette.length !== 0) { %>
            <section class="psg-section">
                <h2 id="color-palette" class="psg-component-title">Color Palette</h2>
                <div class="psg-contents">
                  <div class="psg-colorPalette">
                    <% colorPalette.forEach(function (palette) { %>
                    <div class="psg-colorBox">
                        <div class="psg-colorBox__sample" style="background-color: <%= palette.color %>">
                        </div>
                        <div class="psg-colorBox__name">
                            <%= palette.name %>
                        </div>
                    </div>
                    <% }) %>
                  </div>
                </div>
            </section>
            <hr class="psg-separator">
            <% } %>
            <% maps.forEach(function (map) { %>
                <section class="psg-section">
                    <h2 id="<%= map.link.id %>" class="psg-component-title"><%= map.link.title %></h2>

                    <div class="psg-contents">
                    <% if (!showCode) { %>
                        <%- map.html %>
                    <% } %>
                    </div>
                </section>
                <hr class="psg-separator">
            <% }) %>
          </div>
        </div>

      </div>

    </body>
</html>
